[Unit]
Description=Gunicorn instance to server mysite 
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/root/mysite/flask-api
Environment="PATH=/root/mysite/flask-api/venv/bin"
ExecStart=/root/mysite/flask-api/venv/bin/gunicorn --workers 3 --bind unix:mysite.sock -m 007 wsgi

[Install]
WantedBy=multi-user.target